.home {
  text-align: center;
  font-size: 50px;
}

.homeText {
  text-align: center;
  font-size: 20px;
}

.sobre{
  text-align: center;
  font-size: 50px;
}

.sobreText{
  text-align: center;
  font-size: 20px;

}

.list{
  text-align: center;
  font-size: 50px;
}

.listBook{
  text-align: center;
  font-size: 20px;
}

.form{
  text-align: center;
}

.formTitle{
  font-size: 50px;
}

